@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
body,
html {
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    margin: 0;
    font-family: 'Balsamiq Sans', cursive;
    font-weight: bold;
    text-align: center;
}

#root {
    width: 100vw;
    height: 100vh;
    background-color: #2ecc71;
    animation: hue 30s linear 0s infinite reverse;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(105deg, rgba(255, 190, 0, 0), #ffbe00);
        animation: hue 12s linear 1s infinite;
    }
}


@keyframes hue {
    to {
        filter: hue-rotate(1turn);
    }
}  

.joinQuizCode {
    position: relative;
    top: -15%;

    h1 {
        position: relative;
        z-index: -1;
        font-size: 94px;
        padding: 32px 0;
    }
}

.waitingRoom {
    position: relative;
    top: -15%;

    h1 {
        font-size: 52px;
    }

    h3{
        font-size: 32px;
        padding: 16px 0;
    }
}

.input {
    padding: 16px 32px;
    display: inline-block;
    font-size: 14px;
    outline: none;
    color: #000;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-weight: bold;
    border: 0;
    border-right: 0;
}

.button {
    background: white;
    cursor: pointer;
    padding: 16px 32px;
    display: inline-block;
    font-size: 14px;
    outline: none;
    color: #000;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: bold;
    border: 0;
    position: relative;
    vertical-align: top;
    border-left: 0;
    -webkit-transition: color ease 0.3s;
    transition: color ease 0.3s;
}